@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h3>@ViewData["Dev"]</h3>

<p>Developer: @ViewData["dev"]</p>

<address>
    <strong>GitHub: </strong><a href="https://github.com/Guiventura6"> Guilherme Ventura</a>
</address>
